.git
.github
.idea
.vscode
.env
.env.*
!.env.example

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

bootstrap/cache/*.php

npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
.dockerignore
.agents
.codex
